@{
    ViewBag.Title = "加入會員成功";
    Layout = "~/Views/Shared/MainLogin_layout.cshtml";
}
<h1>加入會員成功</h1>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>@Html.ActionLink("返回首頁","Index","Home")</p>
<p>@Html.ActionLink("會員登入","Main","Login")</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
